@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

/* font-family: "Quicksand", sans-serif; */
:root {
  --title-color: rgb(107, 107, 107);
  --text-color: rgb(150, 136, 136);
  --bg-color: #e9e9e9;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.5px;
  padding: 40px 0;
}

header {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-position: bottom;
  background-image: url(../imgs/banner.jpg);
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}

#Header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  font-size: 80px;
  text-align: center;
  margin-bottom: 80px;
}

#Header p {
  width: 100%;
  text-align: center;
}

.nav ul {
  display: flex;
}

.navList {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  background-color: var(--bg-color);
  box-shadow: 5px 5px 5px rgb(232, 227, 227);
  color: gray;
  transition: all .5s;
}

.navList:hover {
  padding: 14px 24px;
  font-size: 1.3em;
}

.navList:active {
  font-size: 1.2em;
  padding: 10px 20px;
  transition: none;
}

.aboutBox {
  display: flex;
  justify-content: space-between;
}

.aboutPic {
  width: 40%;
  box-shadow: -4px -4px 0 var(--text-color);
  background-size: cover;
  background-position: center;
  background-image: url(../imgs/aboutPic.jpg);
}

.aboutContent {
  width: 58%;
  padding-left: 20px;
}

.aboutContent li {
  margin-bottom: 20px;
  ;
}

.aboutH2 {
  color: var(--title-color);
  font-size: 1.5em;
  padding: 15px 0;
}

p {
  color: var(--text-color);
  line-height: 1.2em;
}

.skillList {
  padding-left: 30px;
}

.skillList li {
  padding: 8px 0;
}

.barTitle {
  display: inline-block;
  color: var(--text-color);
  width: 100px;
  font-weight: bold;
}

.bar {
  display: inline-block;
  height: 100%;
  width: 60%;
  background-color: rgb(206, 195, 181);
  box-shadow: inset -3px -2px rgb(156, 143, 128);
  border-radius: 10px;
  padding: 2px 0;
  overflow: hidden;
}

.barfill {
  display: inline-block;
  text-align: center;
  height: 80%;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(to right, #f5f1d6, #d2cda8);
}

.bar90 {
  width: 90%;
}

.bar80 {
  width: 80%;
}

.bar70 {
  width: 70%;
}

.bar60 {
  width: 60%;
}

.bar:hover .bar90 {
  width: 90%;
  animation: runBar90 1s;
}

.bar:hover .bar80 {
  width: 80%;
  animation: runBar80 1s;
}

.bar:hover .bar70 {
  width: 70%;
  animation: runBar70 1s;
}

.bar:hover .bar60 {
  width: 60%;
  animation: runBar60 1s;
}

@keyframes runBar90 {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes runBar80 {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes runBar70 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes runBar60 {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

#Experience {
  background-color: var(--bg-color);
}

h2 {
  color: var(--title-color);
  font-size: 1.8em;
  padding: 15px 0 20px 0;
}

.experienceList {
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 1px dashed var(--text-color);
}

.experienceList p {
  margin-right: 30px;
  width: 150px;
}

.jobImg {
  margin-right: 30px;
  width: 150px;
  height: 120px;
  object-fit: contain;
}

#Portfolio {
  width: 100%;
  height: 600px;
}

.portfolioBox {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.portfolioBox [class^="photo-"] {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;
  /* border: 1px solid green; */
}



.portfolioBox [class^="photo-"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  transition: transform 1s;
  z-index: 1;
  border-radius: 5px;
}

.backCard {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--title-color);
  color: rgb(232, 227, 227);
  transform: rotateY(180deg);
  transition: transform 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioBox [class^="photo-"]:hover img {
  transform: rotateY(-180deg);

}

.portfolioBox [class^="photo-"]:hover .backCard {
  transform: rotateY(-0deg);
}

.photo-3 {
  grid-area: 1/ 3/ 2 /5;
}

.photo-5 {
  grid-area: 2/ 2/ 4 /4;
}

.photo-7 {
  grid-area: 2/ 4/ 3/ 6;
}



/* .backCard:hover {
  transform: rotateY(0deg);
} */

#Contact {
  background-color: var(--bg-color);
}

.contactBox {
  display: flex;
}

form {
  width: 50%;

}

figure {
  padding: 15px 0;
  width: 50%;

}

figure p {
  margin-bottom: 10px;
  color: var(--title-color)
}

figure p span {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--title-color)
}

iframe {
  width: 80%;
  height: 300px;
}

.input {
  display: block;
  width: 80%;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.input:focus {
  outline: none;
  box-shadow: 3px 3px 3px var(--text-color);
  transition: box-shadow .3s;
}

.btn {
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--text-color);
  color: rgb(232, 227, 227);
}

.btn:hover {
  box-shadow: 3px 3px 3px rgb(192, 186, 186);
  padding: 7px 32px;
  transition: all .3s;
}

.btn:active {
  box-shadow: 1px 1px 3px rgb(192, 186, 186);
  padding: 5px 30px;
}

footer {
  background-color: var(--text-color);
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: antiquewhite;
  font-size: .8em;
}

@media screen and (max-width:500px) {
  header {
    height: 450px;
  }

  .nav ul {
    height: 100px;
  }

  .navList {
    font-size: .9em;
    padding: 10px 20px;
    margin: 0 10px;
  }

  .aboutPic {
    display: none;
  }

  .aboutContent {
    width: 100%;
  }

  .portfolioBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .portfolioBox [class^="photo-"] {
    width: 48%;
  }

  .contactBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  form {
    width: 100%;
  }

  figure {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  iframe {
    width: 100%;
  }
}